<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lansg.SecurityJwtDemo.dao.UserMapper">
    <select id="getByName" resultType="com.lansg.SecurityJwtDemo.entity.User">
        select * from user where username = #{username}
    </select>

    <select id="getPermissionById" resultType="String">
        select permission from user where id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.lansg.SecurityJwtDemo.entity.User">
        insert into user ( username, password, permission, role)
        values(#{username},#{password},#{permission},#{role})
    </insert>
</mapper>